/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body { padding-top: 50px; }
/*
 * Global add-ons
 */
.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top { border: 0; }
/*
 * Sidebar
 */
a:focus { outline: none; -moz-outline: none; }
/* Hide for mobile, show later */
.sidebar { display: none; }

@media (min-width: 768px) {
    .sidebar { position: fixed; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ background-color: #f5f5f5; border-right: 1px solid #eee; }
}
/* Sidebar navigation */
.nav-sidebar { margin-right: -21px; /* 20px padding + 1px border */ margin-bottom: 20px; margin-left: -20px; }

.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }
/*
 * Main content
 */
.main { padding: 20px; }

@media (min-width: 768px) {
    .main { padding-right: 40px; padding-left: 40px; }
}

.main .page-header { margin-top: 0; }
/*
 * Placeholder dashboard ideas
 */
.placeholders { margin-bottom: 30px; text-align: center; }

.placeholders h4 { margin-bottom: 0; }

.placeholder { margin-bottom: 20px; }

.placeholder img { display: inline-block; border-radius: 50%; }

.pt20 { padding-top: 20px; }

.mg20 { margin-left: 20px; }

.pt10 { padding-top: 10px; }

.h100 { height: 100px !important; }

.tdlable { width: 100px; text-align: right; font-weight: bold; background-color: #f3ecec; }

.input-inline { display: inline; width: 200px; }

.text-bolder { font-weight: bolder !important; color: black !important; font-size: 1.1em !important; width: 100px !important; text-align: right; }

.tag-selected a { border: solid 1px #dcdada; padding: 0 2px; color: #666; font-size: 1.1em; /*border:solid 1px #000000;*/ }

.tag-selected a:hover { border: solid 1px #428bca; color: #666; text-decoration: none; font-size: 1.1em; }
.tag-selected a:hover span { color: #428bca; }
.clear-padding { padding-left: 0; padding-right: 0; }
.pointer { cursor: pointer; }
.notice { background: #ffd800; }
.status-1 {}
.status-2 { background-color:#fe7e7e; }
.status-3 { background-color: yellowgreen; }
