<div class="modal-header">
    <h3 class="modal-title">{{lang.viewRoles}}</h3>
</div>
<div class="modal-body">
    <table class="table table-hover table-bordered" m-check>
        <thead>
            <tr>
                <th class="col-sm-2">角色</th>
                <th>权限集</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in roles">
                <td>{{item.Name}}</td>
                <td>{{item.Funs|merge:'Name':4:'...'|none:'没有关联权限'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div class="pull-right">
                        <pagination boundary-links="true" total-items="total" ng-model="current" max-size="10" ng-change="search(true)" items-per-page="size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{lang.ok}}</button>
</div>