form.form-horizontal.col-padding-top
  .form-group.form-group-sm
    label.col-sm-1.control-label {{lang.userName}}:
    .col-sm-3
      input.form-control(type="text", ng-model="model.Name", required="")
  .form-group.form-group-sm
    label.col-sm-1.control-label {{lang.realName}}:
    .col-sm-3
      input.form-control(type="text", ng-model="model.RealName", required="")
  .form-group.form-group-sm
    label.col-sm-1.control-label {{lang.email}}:
    .col-sm-3
      input.form-control(type="email", ng-model="model.Email", required="")
  .form-group.form-group-sm
    label.col-sm-1.control-label {{lang.state}}:
    .col-sm-3
      label.radio-inline
        input(type="radio", name="state", ng-model="model.State", value="1")
        span {{lang.abandon}}
      label.radio-inline
        input(type="radio", name="state", ng-model="model.State", value="2")
        span {{lang.active}}
      label.radio-inline
        input(type="radio", name="state", ng-model="model.State", value="3")
        span {{lang.lock}}
  .form-group.form-group-sm
    .col-lg-offset-1
      button.btn.btn-success(ng-click="save()") {{lang.save}}
