.row
  h4.page-header.text-info 用户管理
.row
  div
    tabset
      tab(heading="{{lang.baseInfo}}")
        div(ng-include="'/users-base'")
      tab(heading="{{lang.linkInfo}}" disable="!model.Id" ng-click="checkRules()")
        div(ng-include="'/users-link'")