.modal-header
  h3.modal-title 用户登录
.modal-body
  form.form-horizontal(ng-if="!loading")
    .form-group.form-group-sm
      .col-sm-3.control-label 用户名:
      .col-sm-6
        input.form-control(type="text", ng-model="model.name")
    .form-group.form-group-sm
      label.col-sm-3.control-label 密码:
      .col-sm-6
        input.form-control(type="password", ng-model="model.password")
    .text-danger(ng-if="error")
      .col-lg-offset-4 * 用户名或者密码错误!
  .text-center(ng-if="loading")
    img(width="60", src="/App/images/loading.gif")
.modal-footer
  button.btn.btn-primary(ng-click="login()") 登录
  button.btn.btn-warning(ng-click="cancel()") 取消
